# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/

# Variáveis de Ambiente e Segredos (CRÍTICO)
.env
.env.local

# Banco de Dados Local
db.sqlite3
*.sqlite3

# IDEs
.vscode/
.idea/