services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME:-loc10}
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data


  api: # <-- Renomeado de 'backend' para 'api'
    build: 
      context: ./apps/api
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py makemigrations accounts &&
             python manage.py migrate --no-input &&
             python manage.py runserver 0.0.0.0:8000" # <-- Comando de migração adicionado
    volumes:
      - ./apps/api:/usr/src/app # <-- Mudar de /app para /usr/src/app
    ports:
      - "8000:8000"
    env_file: # <-- NOVO: Passa as variáveis do .env
      - ./apps/api/.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  frontend:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      # Adicionamos o comando de desenvolvimento diretamente aqui
      # Isso evita o problema do server.js e permite hot-reload
      - NODE_ENV=development
    command: node server.js
    env_file:
      - ./apps/web/.env.local # Cria este arquivo depois se precisar
    depends_on:
      - api

volumes:
  postgres_data:
  redis_data:
