django>=5.0
djangorestframework
psycopg2-binary
python-decouple
pytest-django
factory_boy
dj-database-url # <-- NOVO
djangorestframework-simplejwt # <-- NOVO
django-cors-headers
gunicorn==21.2.0
whitenoise==6.6.0